<!DOCTYPE html>
<html>
<head>
    <title>AI Food Waste Redistribution</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>AI Food Waste Redistribution System</h1>

<hr>

<a href="index.html">Home</a> |
<a href="login.html">Login</a> |
<a href="register.html">Register</a> |
<a href="donate.html">Donate Food</a>

<hr>

<h2>Welcome</h2>

<p>
This website helps hotels donate excess food to NGOs,
reducing food waste and helping people in need.
</p>

</body>
</html>