<!DOCTYPE html>
<html>
<head>
    <title>NGO Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<h1>NGO Dashboard</h1>

<h2>Available Food Donations</h2>

<table>

<tr>
<th>Hotel</th>
<th>Food</th>
<th>Quantity</th>
<th>Location</th>
<th>Status</th>
</tr>

<tr>
<td>ABC Hotel</td>
<td>Veg Biryani</td>
<td>50 Meals</td>
<td>Kurnool</td>
<td><button>Accept</button></td>
</tr>

<tr>
<td>XYZ Restaurant</td>
<td>Rice & Curry</td>
<td>30 Meals</td>
<td>Nandyal</td>
<td><button>Accept</button></td>
</tr>

</table>

</body>
</html>