<!DOCTYPE html>
<html>
<head>
    <title>Volunteer Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<h1>Volunteer Dashboard</h1>

<h2>Pickup Details</h2>

<table>

<tr>
<th>Hotel</th>
<th>Food</th>
<th>NGO</th>
<th>Pickup Address</th>
<th>Status</th>
</tr>

<tr>
<td>ABC Hotel</td>
<td>Veg Biryani</td>
<td>Helping Hands NGO</td>
<td>Kurnool</td>
<td>
<button>Pickup Complete</button>
</td>
</tr>

<tr>
<td>XYZ Restaurant</td>
<td>Rice & Curry</td>
<td>Smile NGO</td>
<td>Nandyal</td>
<td>
<button>Pickup Complete</button>
</td>
</tr>

</table>

</body>
</html>